@*Demo 6 - Authentication Basics; LV*@

@model IEnumerable<TblOrderDetail>

@{
    ViewData["Title"] = "My Orders";
}

@* check if there are orders*@

@if (Model.Any())
{
    <h1>Orders for @Context.User.Identity.Name</h1>

    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Order Date
                </th>
                <th>
                    Product
                </th>
                <th class="text-right">
                    Price
                </th>
                <th class="text-right">
                    Quanitity
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @($"{item.OrderFkNavigation?.OrderDate:d}")
                    </td>
                    <td>
                        @item.ProductFkNavigation.ModelName
                    </td>
                    <td class="text-right">
                        @item.ProductFkNavigation.UnitCost.ToString("c")
                    </td>
                    <td class="text-right">
                        @item.Quantity
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>No orders for @Context.User.Identity.Name</h1>
}

